{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Cadastro{% endblock %}
{% block content %}
<h2>Cadastro</h2>
<form method="post">
  <div class="container">
    {% csrf_token %}
    <select name="curso">
      <option value=" "> </option>
      {% for curso in cursos %}
        <option value="{{curso.id}}">{{curso.nome}}</option>
      {% endfor %}
    </select>
    <select name="turma">
      <option value=" "> </option>
      {% for turma in turmas %}
        <option value="{{turma.id}}">{{turma.nome}}</option>
      {% endfor %}
    </select>

  <input type="submit" value="salvar" />
  </div>
</form>
{% endblock %}