{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Cadastro{% endblock %}
{% block content %}
<h2>Cadastro</h2>
<form method="post">
  <div class="container">
    {% csrf_token %}
    <input type="text" name="nome" placeholder="nome" />
     <select name="semestre">
      <option value=" "> </option>
        <option value="1">1° Bimestre</option>
        <option value="2">2° Bimestre</option>
        <option value="3">3° Bimestre</option>
        <option value="4">4° Bimestre</option>
    </select>
    

  <input type="submit" value="salvar" />
  </div>
</form>
{% endblock %}