
{% extends 'base_menu.html' %}
{% load crispy_forms_tags %}
{% block title%}Desempenho{% endblock %}
{% block content %}

<div class="container">
	<center><h1>Minhas Turmas</h1></center>
	<div class="row">
		<p class="col-sm texto_preto">Disciplina</p>
		<p class="col-sm texto_preto">Turma</p>
		
	</div>
	{% for disc in disciplinas %}
	<div class="row">
		<span class="col-sm"><a href="/desempenho/disciplina/{{disc.turma.id}}/{{disc.disciplina.id}}">{{disc.disciplina.nome}}</a></span>
		<span class="col-sm"><a href="/desempenho/disciplina/{{disc.turma.id}}/{{disc.disciplina.id}}">{{disc.turma.nome}}</a></span>		
	</div>
	{% endfor %}
</div>
	
{% endblock %}
