
{% extends 'base_menu.html' %}
{% load crispy_forms_tags %}
{% block title%}Turmas{% endblock %}
{% block content %}

<div class="container">
	<center><h1>Minhas Turmas</h1></center>
	<div class="row">
		<p class="col-sm texto_preto">Turma</p>
		<p class="col-sm texto_preto">Disciplina</p>
		<p class="col-sm texto_preto">Agendada Para?</p>
	</div>
	{% for disc in disciplinas %}
	<div class="row">
		<span class="col-sm"><a href="/turmas/{{disc.id}}">{{disc.turma.nome}}</a></span>
		<span class="col-sm"><a href="/turmas/{{disc.id}}">{{disc.disciplina.nome}}</a></span>
		{% if disc.data_e_hora == None %}
		<span class="col-sm">Não agendada</span>
		{% elif disc.data_e_hora == 'None' %}
		<span class="col-sm">Não agendada</span>
		{% else %}
		<span class="col-sm">{{disc.data_e_hora}}</span>
		{% endif %}
	</div>
	{% endfor %}

	
</div>
	
{% endblock %}












